<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/public/content/mu-plugins/soil/tests" />
        <option value="$PROJECT_DIR$/public/wp/wp-includes/sodium_compat/tests" />
      </list>
    </option>
  </component>
</project>